
.apps{
	margin-left:15px;
	margin-right: 10px;
}

.destacados > div:hover{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: #eee;
	/*transition: 0.8s;*/
}

.name{
	margin-top:10%;
	color:#002b21;
}