<template name="addJudge">
<div class="row mainrow">
<h3 class="text-center">Add Hackathon Judges</h3>
<p class="text-center">Judges are people who judge hackathon teams.</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Judges" id="insertJudgeForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Google'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
</div>
  </div>

</template>


<template name="updateJudge">
<div class="row mainrow">
<h3 class="text-center">Editing {{name}}</h3>
<p class="text-center">Judges are people who judge hackathon teams.</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Judges" doc=this id="updateJudgeForm" type="update"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Google'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
</template>


<template name="allJudges">
<div class="row mainrow">
  <div class="col-xs-8 col-xs-offset-2">
{{#unless judges}}
<div class="alert alert-info">
				<p>There are no visible judges.</p>
				<p><a href="{{pathFor 'addJudge'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add one</a></p>
</div>
{{else}}
<p><a href="{{pathFor 'addJudge'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Judge</a></p>
<div class="row">
  <h3 class="text-center">Showing Judges</h3>
<p class="text-center">Judges are people who judge hackathon teams.</p>
<hr>
</div>


	<div class="row destacados">
		{{#each judges}}
		<div class=" col-xs-6 col-md-3 well apps wow fadeInUp animated">
				<center>
					{{#with getDoc picture 'Attachments'}}
					<img src="{{url}}" name="picture" width="150" height="150" class="img-circle">
					{{/with}}
					<h3 class="hname">{{name}}</h3>
				</center>
           <br>
           <p class="text-center"><a href="{{pathFor 'updateJudge'}}" role="btn" class="btnspace btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a> <a href="{{pathFor 'deleteJudge'}}" class="btn btn-xs btn-danger btnspace"> <i class="fa fa-trash"></i></a></p>
		</div>
       {{/each}}

</div>

{{/unless}}
</div>
</div>
</template>
