<template name="addJudge">
<div class="row mainrow">

<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Judges" id="insertJudgeForm" type="method" meteormethod="insertJudge"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg.Mike Chang'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='about'}}
      <center><label> Create login credentials for judge</label></center>
      {{> afQuickField name='username'}}
      {{> afQuickField name='password'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
</div>
  </div>

</template>


<template name="updateJudge">
<div class="row mainrow">

<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Judges" doc=this id="updateJudgeForm" type="update"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Google'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='about'}}
      <center>Create login credentials for judge</center>
      {{> afQuickField name='username'}}
      {{> afQuickField name='password'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
</template>


<template name="allJudges">
<div class="row">
<div class="btn-group show-on-hover pull-left">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{pathFor 'addJudge'}}">Add Judge</a></li>
          </ul>
</div>
</div>
<div class="row mainrow">
  <div class="col-xs-10">
{{#unless judges}}
<div class="alert alert-info">
				<p>There are no visible judges.</p>
				<p><a href="{{pathFor 'addJudge'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add one</a></p>
</div>
{{else}}

	<div class="row">
		{{#each judges}}
		<div class=" col-xs-6 col-md-3 well apps wow fadeInUp animated">
				<center>
					{{#with getDoc picture 'Attachments'}}
					<img src="{{url}}" name="picture" width="150" height="150" class="img-circle">
					{{/with}}
					<h3 class="hname">{{name}}</h3>
				</center>
           <br>
           <p class="text-center"><a href="{{pathFor 'updateJudge'}}" role="btn" class="btnspace btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>
           {{> dbAdminDeleteBtn}}
           </p>
		</div>
       {{/each}}
            {{> judgeDeleteModal}}
</div>

{{/unless}}
</div>
</div>
</template>
