@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
.navlogo{
  float: left;
  line-height: 21px;
  height: 50px;

}
.at-terms-link p a{
	background: #005e49;
}
.at-pwd-link p a{
background: #005e49;
}
 .at-link p a{
	background: #005e49;
}
.at-signup-link p a{
    background: #005e49;

}
.at-form{
	font-family: 'Raleway',serif
}
.at-btn{
	background: #002b21;
	font-family: 'Raleway',serif
}

.at-signin-link p a {

	background: #005e49;
}
.sfont{
	font-family: 'Raleway', sans-serif;
	}
.setfont{
	min-height:560px;
	font-family: 'Raleway', sans-serif;
	background: #002b21;
	opacity: 0.89;
}
.maintitle{
    font-family: 'Poiret One', cursive;
}
/*.feature-grid h3{
	font-family: 'Raleway', sans-serif;
}*/
.features{

	  background-color: #eee;
}
#howitworksintro{
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	text-align: center;
}
#howitworksintroP{
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
}
#howitworks{
	  padding: 8px;
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	text-align: center;
}
h4{
	font-size: 26px; 
}
body{padding-top:20px}

/*neww how it works*/

.process-step{
    margin-top:17px;
    
}
.small-title{
	margin: 26%;
	padding: 6%;
}
.btn-circle {
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.features2{
	padding:4% 0;
    border-bottom:1px solid #D2D7D3;
	background-color: #D2D7D3;
}
.icon-color{
	color:#005e49;
}
/*neww how it works ends*/

/*---start-feartures-grids----*/
.feature-grid{
	float: left;
	margin-bottom: 5%;
}
.feature-grid:nth-child(2),.feature-grid:nth-child(4),.feature-grid:nth-child(6){
	margin-right:0;
}
.feature-grid-left {
	width: 13%;
	float: left;
	margin-top: 0.3em;
}
.feature-grid-left span{
	font-family: 'Open Sans', sans-serif;
	width:64px;
	height:64px;
	display:inline-block;
}

.feature-grid-right{
	width:84%;
	float:right;
}
.feature-grid-right h2{
	text-align:left;
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
	color: #002b21;
	font-weight: 500;
	line-height: 1.5em;
	margin: 0px 0px 0.2em 0;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.feature-grid-right p{
	font-family: 'Raleway', sans-serif;
	color: #6B6A6A;
	line-height: 1.9em;
	width: 90%;
}
.content-feature-grids {
	border-bottom: 1px solid #DADFE1;
	padding: 8% 0 5%;
}
.content-feature-grids h2 {

	margin: 0 0 3%;
	color: #3D3D3D;
	font-size: 2.1em;
	font-family: 'Poiret One', cursive;
	
}
.content-feature-grids p{
	color: #002b21;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	
	margin: 0 0 6%;
	font-weight: 300;
}
div.feature-grid-right p {
	text-align: left;
	font-size: 19px;
	font-weight: 300;
}
.features-cover{
	background-color: #DADFE1;
}
.mb{
	margin-bottom: 30px;
}
/*---//End-feartures-grids----*/