.logonom{
	font-weight: 500;

}
.sponsor-div{
	border-right: 2px solid #bebebe;
  /* background-color: #eee; */
  /* padding: 7%; */
  margin-top: 8%;
}
.panel-footer a{
	color:#000;
}
.sponsor-row{
	margin-bottom: 6%;
}