@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);
.navigation{
  font-size: 17px;
  padding: 11px;
  margin-top: -30px;
  border: 0px;
  background-color: #eeeeee;
 /* border-bottom:solid; */
}
.navigation a{
	color: #002b21;
}

.titlehome{
 border-bottom: 25px;
 font-size: 17px;
 font-weight: 900;
font-family: 'Kelly Slab', cursive;
}
.jumbotron h1{
	color: #eeeeee;
	margin-top: 3%;
}

.join{
  color: #000;
  background-color: #fff;
  border-color: #fff;
   opacity: 0.7;
  margin-top: 3%;
}
.hackcontent{
  font-family: 'Raleway', sans-serif;
}