<template name="hackathonHome">
{{#with hackData}}
<div class="jumbotron" style="background:cover; background-image:url({{url}}) ">

<h1 class="titlehome text-center">{{title}}</h1>


<!-- <p class="text-center"><a href="/hackathon/{{personalizedUrl}}/register" class="btn join btn-lg" role="button">REGISTER NOW</a></p> -->
</div>



{{/with}}

{{#with hackData}}
<nav class="navigation navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>Powered by Hackifi</strong></a>
    </div>

    <div class="collapse navbar-right navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav text-center">
        <li class="active"><a href="/hackathon/{{personalizedUrl}}">Overview</a></li>
        <!-- <li class="sponsors">
          <a href="/hackathon/{{personalizedUrl}}/sponsors">Sponsors</a>
        </li> -->
        <li class="judges"><a href="/hackathon/{{personalizedUrl}}/judges">Judges</a></li>
        <!-- <li class="mentors"><a href="/hackathon/{{personalizedUrl}}/mentors">Mentors</a>
        </li> -->
        <!-- <li><a href="/hackathon/{{personalizedUrl}}/register">Register</a></li> -->
        <li><a href="/hackathon/{{personalizedUrl}}/submissions">Submissions</a></li>
        <li><a href="/hackathon/{{personalizedUrl}}/scoreboard">Score Board</a></li>
        <!-- <li><a href="/hackathon/{{personalizedUrl}}/feedback">Feedback</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{#if AuthJudge}}{{judgeSignedInString}}{{else}}Sign In as a Judge{{/if}}<span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                {{#if AuthJudge}}
                  <div class="form-group">
                    <button class="btn btn-primary btn-block auth-sign-out">Sign Out</button>
                  </div>
                {{else}}
                  <form class="form" role="form" method="post" accept-charset="UTF-8" id="judge-login-form">
                     <div class="form-group">
                        <label class="sr-only" for="j-username">Username</label>
                        <input class="form-control" id="j-username" placeholder="Username" required>
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="j-password">Password</label>
                        <input class="form-control" type="password" id="j-password" placeholder="Password" required>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                     </div>
                  </form>
                {{/if}}
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{/with}}
<div class="container hackcontent">
	 {{#momentum plugin='iron-router' options=momentumIRTransition}}
			   {{> yield}}
     {{/momentum}}
</div>

  <!-- Prevent footer from popping up when route loading -->
  {{#if isRouteReady}}
  {{> footer}}
  {{/if}}
</template>