@import url(http://fonts.googleapis.com/css?family=Kelly+Slab);
.navigation{
  font-size: 17px;
  padding: 11px;
  margin-top: -30px;
  border: 0px;
  background-color: #eeeeee;
 /* border-bottom:solid; */
}
.navigation a{
	color: #002b21;
}

.titlehome{
 border-bottom: 25px;
 font-size: 17px;
 font-weight: 900;
font-family: 'Kelly Slab', cursive;
}
.jumbotron h1{
	color: #eeeeee;
	margin-top: 3%;
}

.join{
  color: #000;
  background-color: #fff;
  border-color: #fff;
   opacity: 0.7;
  margin-top: 3%;
}
.join:hover{
 color: #000;
}
.jumbotron a:active{
  color: #000;
}
.hackcontent{
  min-height: 800px;
  font-family: 'Raleway', sans-serif;
}

/*============== Judge Sign IN Form ============================================*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*====================== Judge Sign In Form END*/
