<template name="hackathonOverview">

{{#with hackData}}
<div class="row mainrow">
	<h3 class="text-center">{{title}}</h3>
<hr>
</div>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    {{#with getDoc coverPhoto 'Attachments'}}
	<img class="img img-responsive" hieght="100px" src="{{url}}"/>
	{{/with}}
	<br>
</div>

<div class="col-sm-8 col-sm-offset-2">
<h3 class="text-header" >About</h3>
<br>
<p class="text-content">{{about}}</p>
<br>
<h3 class="text-header">Eligibility</h3>
<br>
<p class="text-content">{{eligibility}}</p>
<br>
<h3 class="text-header">Rules</h3>
<br>
<p class="text-content">{{rules}}</p>
<br>
<h3 class="text-header">Prizes</h3>
<br>
<p class="text-content">{{prizes}}</p>
<br>
<h3 class="text-header">Timeline</h3>
<br>
<p class="text-content">{{timeline}}</p>
</div>
</div>

<!-- <p class="text-center"><a href="/hackathon/{{personalizedUrl}}/register" class="btn btn-primary joinOverview" role="button">REGISTER NOW</a></p> -->
{{/with}}
</template>