<template name="setUp">
	{{> configureHackathon}}
</template>

<template name="configureHackathon">
	<div class="row">
	   <div class="col-sm-4 text-center">
          <a class="js-disable-create" href="{{pathFor 'createHackathon'}}"><img src="/img/check.png" width="48px" height="48px"> <br><p>Create Hackathon</p></a>

          <button style="display:none;" class="btn btn-lg btn-success js-able-create"><i class="fa fa-check"></i>Hackathon Created</button>
	   </div>
	   <div class="col-sm-4 text-center">
          <a href="{{pathFor 'addSponsors'}}"><img src="/img/sponsor.png" width="48px" height="48px"> <br><p>Add Sponsors</p></a>
	   </div>
	   <div class="col-sm-4 text-center">
	      <a href="#"><img src="/img/judge.png" width="48px" height="48px"> <br><p>Add Judges</p></a>
	   </div>
	</div>
</template>

<template name="createHackathon">

{{#unless  $.Session.get 'exists'}}
 <div class="row mainrow">
  <div class="col-sm-8 col-sm-offset-2">
	{{#autoForm collection="Hackathons" id="insertHackathonForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='title' placeholder='eg. Hack for big Choices'}}
      {{> afQuickField name='coverPhoto'}}
      {{> afQuickField name='personalizedUrl' placeholder='localhost:3000/your url'}}
      {{> afQuickField name='about'}}
      {{> afQuickField name='rules'}}
      {{> afQuickField name='eligibility'}}
      {{> afQuickField name='prizes'}}
      {{> afQuickField name='timeline'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
{{else}}
{{#with hack}}
<div class="row mainrow">
  <div class="col-xs-8 col-xs-offset-2">

 <div class="alert alert-success alert-dismissable">
      <i class="fa fa-success"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b>Hackathon Created!</b> Click here to <i class="fa fa-gear"></i> 
  <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Edit Settings</a>
        </div>
  </div>

  </div>
<!--   <h4>Hackathon Created</h4>
  <hr>
  <div class="alert alert-warning">Click here to <i class="fa fa-gear"></i> 
  <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Edit Settings</a>
</div> -->
{{/with}}

{{#with hack}}

<div class="row mainrow">
<div class="col-sm-6 col-sm-offset-3">
    {{#with getDoc coverPhoto 'Attachments'}}
  <img class="img img-responsive" src="{{url}}"/>
  {{/with}}
  <br>
</div>

<div class="col-sm-8 col-sm-offset-2" style="margin-bottom:3%;">
<h3 class="text-header" >About</h3>
<br>
<p class="text-content">{{about}}</p>
<br>
<h3 class="text-header">Eligibility</h3>
<br>
<p class="text-content">{{eligibility}}</p>
<br>
<h3 class="text-header">Rules</h3>
<br>
<p class="text-content">{{rules}}</p>
<br>
<h3 class="text-header">Prizes</h3>
<br>
<p class="text-content">{{prizes}}</p>
<br>
<h3 class="text-header">Timeline</h3>
<br>
<p class="text-content">{{timeline}}</p>
</div>
</div>
{{/with}}

{{/unless}}

</template>
<template name="updateHackathon">
<div class="row mainrow">
   <div class="col-sm-8 col-sm-offset-2">
    {{#autoForm collection="Hackathons" doc=this id="updateHackathonForm" type="update"}}
      <fieldset>
        {{> afQuickField name='title' placeholder='eg. Hack for big Choices'}}
        {{> afQuickField name='coverPhoto'}}
        {{> afQuickField name='personalizedUrl' placeholder='localhost:3000/your url'}}
        {{> afQuickField name='about'}}
        {{> afQuickField name='rules'}}
        {{> afQuickField name='eligibility'}}
        {{> afQuickField name='prizes'}}
        {{> afQuickField name='timeline'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Save</button>
    {{/autoForm}}
    </div>
    </div>
</template>



