<template name="hackathonMentors">
  <div class="row mainrow text-center">
    <h3 class="text-center">Hacakthon Mentors </h3>
    <hr>
    <div class="col-sm-10 col-sm-offset-1 text-center">
      {{#each mentorData}}
      <div class="col-md-4 col-sm-6">
       <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover">
              <img src="/img/rotating_card_thumb.png"/>
            </div>
            <div class="user">
             {{#with getDoc picture 'Attachments'}}
             <img class="img img-responsive" src="{{url}}"/>
             {{/with}}
           </div>
           <div class="content">
            <div class="main">
              <h3 class="name">{{name}}</h3>
              <p class="profession">Mentor</p>
              <h5><i class="fa fa-envelope-o fa-fw text-muted"></i>  {{personalWebsiteLink}}</h5>
            </div>
            <div class="footer">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h4 class="motto">{{name}}</h4>
          </div>
          <div class="content">
            <div class="main">
              <h5 class="text-center">Experience</h5>
              <p class="text-center">{{about}}</p>
              <h5 class="text-center">Areas of Expertise</h5>
              <p class="text-center">{{areaOfSpecialization}}</p>
            </div>
          </div>
          <div class="footer">
            <div class="social-links text-center">
              <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
              <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
            </div>
          </div>
        </div> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
  {{else}}
  <div class="alert alert-info">>No Mentors for this Hackathon
    <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Give Feedback</a>
  </div>
  {{/each}}
</div></div>
</template>

<template name="hackathonJudges">
  <div class="row mainrow text-center">
    <h3 class="text-center">Hacakthon Judges</h3>
    <hr>
    <div class="col-sm-10 col-sm-offset-1 text-center">
      {{#each judgeData}}
      <div class="col-md-4 col-sm-6">
       <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover">
              <img src="/img/rotating_card_thumb3.png"/>
            </div>
            <div class="user">
              {{#with getDoc picture 'Attachments'}}
              <img class="img img-responsive" src="{{url}}"/>
              {{/with}}
            </div>
            <div class="content">

              <div class="main">
                <h3 class="name">{{name}}</h3>
                <p class="profession">Judge</p>
                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i>  {{personalWebsiteLink}}</h5>
              </div>
              <div class="footer">
                 <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              </div>
            </div>
          </div> <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto">{{name}}</h5>
            </div>
            <div class="content">
              <div class="main">
                <h5 class="text-center">Experience</h5>
                <p class="text-center">{{about}}</p>
                <h5 class="text-center">Area of Expertise</h5>
                <p class="text-center">Unknown</p>
              </div>
            </div>
            <div class="footer">
              <div class="social-links text-center">
                <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
          </div> <!-- end back panel -->
        </div> <!-- end card -->
      </div> <!-- end card-container -->
    </div> <!-- end col sm 3 -->
    {{else}}
    <div class="alert alert-info">>No judges for this Hackathon
      <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Give Feedback</a>
    </div>
    {{/each}}
  </div></div>
</template>

<template name="hackathonRegister">

  <div class="row mainrow">
    <h3 class="text-center">To Register Complete the Following Form </h3>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
      {{#autoForm collection="Participants" id="insertRegistrationForm" type="method" meteormethod="insertRegistration"}}
      <fieldset>
        {{> afQuickField name='name' placeholder='eg. Jane Doe'}}
        {{> afQuickField name='location'}}
        {{> afQuickField name='email'}}
        {{> afQuickField name='linkToLinkedIn' placeholder='linkedIn.com/ijayoa'}}
        {{> afQuickField name='picture'}}
        <small>Enter specialization, seperate using comma</small>
        {{> afQuickField name='specialization'}}
        {{> afQuickField name='country'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Save</button>
      {{/autoForm}}
    </div>
  </div>
</template>

<template name="hackathonSubmissions">

  <div class="row mainrow">
    <h3 class="text-center">Submit Your Product by Completing the Following Form </h3>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
      {{#autoForm collection="Submissions" id="insertSubmissionForm" type="method" meteormethod="insertSubmission"}}
      <fieldset>
        {{> afQuickField name='productName' placeholder='eg. Whatsapp'}}
        {{> afQuickField name='productLogo'}}
        {{> afQuickField name='productCategory'}}
        {{> afQuickField name='shortDescription'}}
        {{> afQuickField name='githubLink' placeholder='github.com/projectname'}}
        <hr>
        <p>Enter the name of your team members followed by a comma</p>
        {{> afQuickField name='teamMembers'}}
        {{> afQuickField name='teamPicture'}}
        {{> afQuickField name='aboutTeam'}}
        {{> afQuickField name='motivation'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
      {{/autoForm}}
    </div>
  </div>
</template>

<template name="hackathonFeedbacks">

  <div class="row mainrow">
    <h3 class="text-center">Feedback is Always Welcome </h3>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
      {{#autoForm collection="Feedbacks" id="insertFeedbackForm" type="method" meteormethod="sendFeedback"}}
      <fieldset>

        {{> afQuickField name='name' placeholder='eg. Jane Doe'}}
        {{> afQuickField name='email'}}
        {{> afQuickField name='yourFeedback'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Send</button>
      {{/autoForm}}
    </div>
  </div>
</template>



<template name="hackathonScoreboard">



  <div class="row mainrow">

    <div class="container-fluid">
      <div class="row  ">
        <div class="col-xs-6 col-xs-offset-3 score-header text-center">
          {{getHackathonName hackData}}

        </div>
      </div>
      <div class="row text-center ">
        <div class="col-xs-8 col-xs-offset-2 text-center score-board">
          {{#each rankedSubmissions}}
          <div class="row mainrow" >
           <div class="col-xs-8 col-xs-offset-2 ">
             <div class="row">
              <div class="col-xs-6 text-center margtop">
                <h3 class="panel-title">{{productName}}</h3>
                {{#with getDoc productLogo 'Attachments'}}
                <a href="/hackathon/{{getPersonalizedUrl}}/{{../_id}}/addscore"><img src="{{url}}" height="200" width="200" class="img-responsive img-thumbnail" />
                </a>
                {{/with}}

                <h3 class="panel-title">{{teamMembers}}</h3>
              </div>
              <div class="col-xs-6 text-center margtop">
               <h3 class="panel-title ">Total Score </h3>
               <div class="huge">{{getTotalScore _id}}</div>
               {{#if AuthJudge}}
               <a href="/hackathon/{{getPersonalizedUrl}}/{{_id}}/addscore" class="btn btn-primary btn-sm btn-addscore"><i class="fa fa-plus"></i> 
                Add score
              </a>
              {{/if}}
            </div>
          </div>
        </div>

      </div>
      {{else}}
      {{> judgingSoon}}
      {{/each}}
    </div>
  </div>
</div>
</div>
</template>

<template name="addscore">
  {{#if AuthJudge}}
  {{#with submission}}
  <div class="row mainrow">

    <h3 class="text-center">Rate {{productName}}</h3>
    <hr>
    <div class="col-xs-6 col-xs-offset-3">
     <div class="row panel">
      <div class="col-sm-4 col-md-4" >
        {{#with getDoc productLogo 'Attachments'}}
        <img src="{{url}}"  class="img-responsive img-thumbnail">
        {{/with}}
      </div>

      <div class="col-sm-8 col-md-8">
        <p>{{productName}}</p>
        <p>Category: {{productCategory}}</p>
        <p>Github Link: {{githubLink}}</p>
        <p>Team Members: {{teamMembers}}</p>
      </div>


    </div>
    <div class="row panel">
      <div class="row box-body table-responsive no-padding">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Criteria</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
               {{#each hackCriterias}}
                  
                  <tr>
                    <td>
                      {{name}}
                    </td>
                          <td>
                            <div class="ui huge star rating" id="criteria-score" data-crit-id="{{_id}}" data-sub-id="{{getSubId}}" data-hack-id="{{getHackId}}" data-jud-id="{{getJudgeId}}" data-rating="{{getScore _id ../_id}}" data-max-rating="{{maximum_score}}"></div>
                          </td>
                </tr> 
               {{/each}}
            </tbody>
          </table>
        </div>
    </div>

    <div class="row panel-footer text-center">
      <a href="/hackathon/{{getPUrl}}/scoreboard" role="button" class="btn btn-primary">Submit </a>
    </div>
  </div>

</div>

    {{/with}}
    {{else}}
    {{/if}}
  </template>

