<template name="hackathonMentors">
<div class="row mainrow">
<h3 class="text-center">Hacakthon Mentors </h3>
<hr>
<div class="col-sm-10 col-sm-offset-1">
{{#each mentorData}}
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="/img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
							{{#with getDoc picture 'Attachments'}}
							<img class="img img-responsive" src="{{url}}"/>
							{{/with}}
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">{{name}}</h3>
                                <p class="profession">Mentor</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Unknown</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Unknown </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i>  {{personalWebsiteLink}}</h5>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experience</h4>
                                <p class="text-center">{{about}}</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p class="text-center">{{areaOfSpecialization}}</p>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
        {{else}}
          <h4>Hackathon Mentors</h4>
		  <hr>
		  <div class="alert alert-warning">>No Mentors for this Hackathon
		  <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Give Feedback</a>
		</div>
        {{/each}}
</div></div>
</template>

<template name="hackathonJudges">
<div class="row mainrow">
<h3 class="text-center">Hacakthon Judges </h3>
<hr>
 <div class="col-sm-10 col-sm-offset-1">
{{#each judgeData}}
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="/img/rotating_card_thumb3.png"/>
                        </div>
                        <div class="user">
                            {{#with getDoc picture 'Attachments'}}
							<img class="img img-responsive" src="{{url}}"/>
							{{/with}}
                        </div>
                        <div class="content">
                  
                            <div class="main">
                                <h3 class="name">{{name}}</h3>
                                <p class="profession">Judge</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Unknown</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Unknown </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i>  {{personalWebsiteLink}}</h5>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                     <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experience</h4>
                                <p class="text-center">{{about}}</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p class="text-center">Unknown</p>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
        {{else}}
          <h4>Hackathon Judges</h4>
		  <hr>
		  <div class="alert alert-warning">>No judges for this Hackathon
		  <a href="{{pathFor 'updateHackathon'}}" class="alert-link"> Give Feedback</a>
		</div>
        {{/each}}
</div></div>
</template>

<template name="hackathonRegister">

<div class="row mainrow">
<h3 class="text-center">To Register Complete the Following Form </h3>
<hr>
    <div class="col-sm-6 col-sm-offset-3">
    {{#autoForm collection="Participants" id="insertRegistrationForm" type="method" meteormethod="insertRegistration"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Jane Doe'}}
      {{> afQuickField name='location'}}
      {{> afQuickField name='email'}}
      {{> afQuickField name='linkToLinkedIn' placeholder='linkedIn.com/ijayoa'}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='age'}}
      {{> afQuickField name='specialization'}}
      {{> afQuickField name='country'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
    </div>
</div>
</template>

<template name="hackathonSubmissions">

<div class="row mainrow">
<h3 class="text-center">Submit Your Product by Completing the Following Form </h3>
<hr>
    <div class="col-sm-6 col-sm-offset-3">
    {{#autoForm collection="Submissions" id="insertSubmissionForm" type="method" meteormethod="insertSubmission"}}
    <fieldset>
      {{> afQuickField name='productName' placeholder='eg. Whatsapp'}}
      {{> afQuickField name='productLogo'}}
      {{> afQuickField name='productCategory'}}
      {{> afQuickField name='shortDescription'}}
      {{> afQuickField name='githubLink' placeholder='github.com/projectname'}}
      <hr>
      <p>Enter the name of your team members followed by a comma</p>
      {{> afQuickField name='teamMembers'}}
      {{> afQuickField name='teamPicture'}}
      {{> afQuickField name='aboutTeam'}}
      {{> afQuickField name='motivation'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
    </div>
</div>
</template>

<template name="hackathonFeedbacks">

<div class="row mainrow">
<h3 class="text-center">Feedback is Always Welcome </h3>
<hr>
    <div class="col-sm-6 col-sm-offset-3">
    {{#autoForm collection="Feedbacks" id="insertFeedbackForm" type="method" meteormethod="sendFeedback"}}
    <fieldset>

      {{> afQuickField name='name' placeholder='eg. Jane Doe'}}
      {{> afQuickField name='email'}}
      {{> afQuickField name='yourFeedback'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Send</button>
  {{/autoForm}}
    </div>
</div>
</template>

<template name="hackathonScoreboard">

<div class="row mainrow">
<h3 class="text-center">Hackathon Scoreboard</h3>
<hr>
<!-- <h5 class="text-center">ScoreBoard not uploaded</h5>

<h1 class="setuphack text-center"><i class="fa fa-clock-o fa-5x"></i><br> Judging <br>Soon</h1> -->
  {{#each submissions}}
    <div class="tile">
      {{#with getDoc teamPicture 'Attachments'}}
        <a href="/hackathon/{{getPersonalizedUrl}}/{{../_id}}/addscore"><img src="{{url}}" height="200" width="200"/>
      <span class="overlay">
          <span class="content">
              <span class="tiletitle">{{../productName}}</span>
              <span class="plus">+</span>
              <span>
                <a href="/hackathon/{{getPersonalizedUrl}}/{{../_id}}/addscore" class="btn btn-primary"><i class="fa fa-plus"></i> 
                  Add score
                </a>
              </span>
              <span class="tilecopy">{{../shortDescription}}</span>
          </span>
      </span>
        </a>
      {{/with}}
    </div>
  {{/each}}
</div>
</template>

<template name="addscore">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="container-fluid well">
        {{#with submission}}
        <div class="row-fluid">
                <div class="col-sm-4 col-md-4" >
                  {{#with getDoc productLogo 'Attachments'}}
                    <img src="{{url}}"  class="img-responsive img-thumbnail">
                  {{/with}}
                </div>
                
                <div class="col-sm-8 col-md-8">
                    <h3>{{productName}}</h3>
                    <h6>Category: {{productCategory}}</h6>
                    <h6>Github Link: {{githubLink}}</h6>
                    <h6>Team Members: {{#each teamMembers}} {{this}}, {{/each}}</h6>
                </div>
        </div>
        {{/with}}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid well">
        <div class="row-fluid">
          
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<template name="hackathonResources">

<div class="row mainrow">
<h3 class="text-center">Hackathon Resources</h3>
<hr>
<h5 class="text-center">Access hackathon related documents and files here</h5>


<h1 class="setuphack text-center"><i class="fa fa-clock-o fa-5x"></i><br> Uploading <br>Soon</h1>
    </div>

</template>