<template name="addSponsor">
<div class="row mainrow">
<h3 class="text-center">Add Hackathon Sponsor</h3>
<p class="text-center">Sponsors are companies who provide support for the hackathon</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Sponsors" id="insertSponsorForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Google'}}
      {{> afQuickField name='websiteLink' placeholder="eg. www.google.com"}}
      {{> afQuickField name='sponsorLogo'}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
</template>

<template name="updateSponsor">
<div class="row mainrow">
<h3  class="text-center">Editing {{name}}</h3>
<p class="text-center">Sponsors are companies who provide support for the hackathon</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Sponsors" doc=this id="updateSponsorForm" type="update"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. Google'}}
      {{> afQuickField name='websiteLink' placeholder="eg. www.google.com"}}
      {{> afQuickField name='sponsorLogo'}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
</template>


<template name="allSponsors">
<div class="row mainrow">
  <div class="col-xs-8 col-xs-offset-2">
{{#unless sponsors}}
<div class="alert alert-info">
				<p>There are no visible sponsors.</p>
				<p><a href="{{pathFor 'addSponsor'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add one</a></p>
</div>
{{else}}
<h3 class="text-center">Sponsors</h3>
<p  class="text-center">Sponsors are companies who provide support for the hackathon</p>
<hr>

	<div class="row destacados">
{{#each sponsors}}
		<div class=" col-xs-6 col-md-3 well apps wow fadeInUp animated">
				<center>
					{{#with getDoc sponsorLogo 'Attachments'}}
					<img src="{{url}}" name="picture" width="150" height="150" class="img-responsive">
					{{/with}}
					<!-- <h3 class="name">{{name}}</h3> -->
				</center>
           <br>
			<p class="text-center"><a href="{{pathFor 'updateSponsor'}}" role="btn" class="btnspace btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a> <a href="{{pathFor 'deleteSponsor'}}" class="btn btn-xs btn-danger btnspace"> <i class="fa fa-trash"></i></a></p>
		</div>
{{/each}}

</div>

{{/unless}}
</div>
</div>
</template>



