<template name="addMentor">
<div class="row mainrow">
<h3 class="text-center">Add Hackathon Mentor</h3>
<p class="text-center">Mentors are people who advice teams during the event.</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Mentors" id="insertMentorForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. John'}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='areaOfSpecialization' placeholder="eg. Business"}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
  </div>
  </div>
</template>

<template name="updateMentor">
<div class="row mainrow">
<h3 class="text-center">Editing {{name}}</h3>
<p class="text-center">Mentors are people who advice teams during the event.</p>
<hr>
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Mentors" doc=this  id="updateMentorForm" type="update"}}
    <fieldset>
      {{> afQuickField name='name' placeholder='eg. John'}}
      {{> afQuickField name='picture'}}
      {{> afQuickField name='personalWebsiteLink' placeholder="eg. johndoe.com"}}
      {{> afQuickField name='areaOfSpecialization' placeholder="eg. Business"}}
      {{> afQuickField name='about'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>

  {{/autoForm}}
   </div>
  </div>
</template>

<template name="allMentors">
<div class="row mainrow">
  <div class="col-xs-8 col-xs-offset-2">
{{#unless mentors}}
<div class="alert alert-info">
				<p>There are no visible mentors.</p>
				<p><a href="{{pathFor 'addMentor'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add one</a></p>
</div>
{{else}}
<h3 class="text-center">Showing Mentors</h3>
<p class="text-center">Mentors are people who advice teams.</p>
<hr>

<div class="row destacados">
		{{#each mentors}}
		<div class="text-center col-xs-6 col-md-3 well apps wow fadeInUp animated">
				<center>
					{{#with getDoc picture 'Attachments'}}
					<img src="{{url}}" name="picture" width="150" height="150" class="img-circle">
					{{/with}}
					<h3 class="hname">{{name}}</h3>
				</center>
           <br>
			<p class="text-center"><a href="{{pathFor 'updateMentor'}}" role="btn" class="btnspace btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a> <a href="{{pathFor 'deleteMentor'}}" class="btn btn-xs btn-danger btnspace"> <i class="fa fa-trash"></i></a></p>
		</div>
       {{/each}}

</div>

{{/unless}}
</div>
</div>
</template>
