.panel-dash{
	color:#005e49;
	border: #002b21;
}
.basedetails{
	color: #002b21;
}
.setuphack{
	margin-top: 59px;
	color: #bebebe;
	font-family: 'Raleway', sans-serif;
}
.huge{
	font-size: 2.3em;
  font-weight: 600;
}
/*for dropdown*/
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}