<template name="allSubmissions">
	<div class="row mainrow">
		<div class="col-xs-8 col-xs-offset-2">


			<h3 class="text-center">Team Submissions</h3>
			<hr>
			<div class="row form-group" style="margin-top:10px;">
			{{#each submissions}}

				<div class="col-xs-12 col-md-6">
					<div class="panel panel-default">
						<div class="panel-image">
							{{#with getDoc  productLogo 'Attachments'}}
							<img src="{{url}}" name="picture" class=" img-responsive panel-image-preview">
							{{/with}}
							<label for="toggle-4"></label>
						</div>
						<input type="checkbox" id="toggle-4" checked class="panel-image-toggle">
						<div class="panel-body">
							<h4>{{productName}}</h4>
							<p>{{shortDescription}}</p>
						</div>
						<div class="panel-footer text-center">
							<a href="#"><span class="fa fa-long-arrow-down"></span></a>
							<a href="{{githubLink}}"><span class="fa fa-github-alt"></span></a>
						</div>
					</div>
				</div>

			{{else}}
			<div class="alert alert-info">
				<p>There are no submissions.</p>
				<p><a href="{{pathFor 'newMessage'}}" class="btn btn-primary"><i class="fa fa-plus"></i> Send Notice</a></p>
			</div>
			{{/each}}
			</div>

		</div>
	</div>
</template>

