<template name="dashboardScoreBoard">
  <div class="container-fluid">
    <div class="row  ">
      <div class="col-xs-6 col-xs-offset-3 btn-primary score-header text-center">
        {{getHackathonName hackData}}

      </div>
    </div>
    <div class="row text-center ">
      <div class="col-xs-6 col-xs-offset-3 text-center score-board">
        {{#each submissions}}
        <div class="row mainrow" >
         <div class="col-xs-8 col-xs-offset-2 ">
           <div class="row">
              <div class="col-xs-6 text-center margtop">
            <h3 class="panel-title">{{productName}}</h3>
            {{#with getDoc productLogo 'Attachments'}}
            <a href="#"><img src="{{url}}" height="200" width="200" class="img-responsive img-thumbnail" />
            </a>
            {{/with}}
            <h3 class="panel-title">{{teamMembers}}</h3>
          </div>
          <div class="col-xs-6 text-center margtop">
           <h3 class="panel-title "> Score </h3>
           <div class="huge">{{getTotalScore _id}}</div>
         </div>
           </div>
         </div>
         
       </div>
       {{else}}
       {{> judgingSoon}}
       {{/each}}
</div>
</div>

</div>
</template>