<template name="scoreBoard">
<h5>Enter all scores here</h5>

<h1 class="setuphack text-center"><i class="fa fa-clock-o fa-5x"></i><br> Coming <br>Soon</h1>
</template>

<template name="timeLine">
<h5>Plan hackathon timeline and shedules here</h5>

<h1 class="setuphack text-center"><i class="fa fa-clock-o fa-5x"></i><br> Coming <br>Soon</h1>
</template>

<template name="hackifiSupport">
<h5>Ask hackifi support questions here</h5>

<h1 class="setuphack text-center"><i class="fa fa-clock-o fa-5x"></i><br> Coming <br>Soon</h1>
</template>