<template name="scoreCards">
  <div class="row-fluid mainrow">

        {{#unless scores}}
      
          <div class="col-xs-8 col-xs-offset-2">
            <div class="alert alert-info">
                <p>There are no visible scorecards.</p>
            </div>
        </div>
 
    {{else}}


    {{#each judges}}
    <div class="col-xs-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Judged <small class="muted">{{tm_now createdAt}}</small></h3>
        </div>
        <div class="panel-image hide-panel-body">
            <!-- inner panel -->
            <div class="row">

                <div class="col-xs-4 text-center margtop">
                    <h3 class="panel-title ">{{name}}</h3>
                    {{#with getDoc picture 'Attachments'}}
                    <img src="{{url}}" name="picture" width="150" height="150" class="img-circle">
                    {{/with}}
                </div>
                <div class="col-xs-8">
                    <table class="table scorecards-table">
                        <thead>
                            <tr>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Criteria Scores
                                </th>
                                <th>
                                    Total Scores
                                </th>
                            </tr>
                        </thead>
                        {{#each submissions}}
                        <tbody>
                            <tr>
                                <td>
                                 {{productName}} 
                             </td>
                             <td>
                                <ul>
                                   {{#each criterias}}
                                   <li>{{name}} ({{getJudgeCriteriaScore _id ../_id ../../_id}})</li>
                                   {{/each}}  
                               </ul>
                           </td>
                           <td>
                           <span class="badge bg-red">{{getJudgeTotalCriteriaScore _id ../_id}}</span>
                            
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>

</div>
</div>
</div>
{{/each}}

       {{/unless}}
   </div>

</template>

