<template name="newMessage">

<div class="row mainrow">
<div class="col-sm-6 col-sm-offset-3">
{{#autoForm collection="Messages" id="insertMessageForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='selectMedium'}}
      {{> afQuickField name='to'}}
      {{> afQuickField name='title' placeholder="eg. Judging Criteria Changed"}}
      {{> afQuickField name='content'}}
      {{> afQuickField name='addAttachment'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Send Message</button>
{{/autoForm}}
 </div>
 </div>
</template>