<template name="newMessage">

<div class="row mainrow">
  <div class="col-xs-8 col-xs-offset-2">
<h3 class="text-center">Send Broadcast Message</h3>
<p class="text-center">A Broadcast Message can be sent to all parties</p>
<hr>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
{{#autoForm collection="Messages" id="insertMessageForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='selectMedium'}}
      {{> afQuickField name='to'}}
      {{> afQuickField name='title' placeholder="eg. Judging Criteria Changed"}}
      {{> afQuickField name='content'}}
      {{> afQuickField name='addAttachment'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Send Message</button>
{{/autoForm}}
 </div>
 </div>
 </div>
 </div>
</template>