body{
  background-color: #eeeeee;
}
.maincont{
  padding: 0px;

}
.alert > .fa, .alert > .glyphicon {
  position: absolute;
     left: -2px;
  top: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  background: inherit;
  border: inherit;
}
/*bread crumb*/
.content-header {
  background-color: #DADFE1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 15px 15px 10px 20px;
  font-size: 17px;
  padding: 13px;
}
 .content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;

}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
/*end of breadcrumb*/

/* Profile container */
#profile {
  width: 99.45%;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #eeeeee;
    min-height: 909px;
}
/*.dashboardRoute{
  background-color: #bebebe;
  font-size: 17px;
  padding: 13px;
  margin-bottom:3%;
}*/
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 79%;
  height: 79%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
   font-family: 'Raleway', sans-serif;
  /*text-align: center;*/
  margin-left: -9px;
  margin-top: 9px;
}

.profile-usertitle-name {
  color: #002b21;
  font-size: 14px;
  font-weight: 600;
  /*margin-top: 17%;*/
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #002b21;
  font-size: 12px;
  /*font-weight: 600;*/
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}
.navbar{
  background-color: #002b21;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.profile-usermenu ul li {
  font-family: 'Raleway', sans-serif;
 border-bottom: 1px solid #004637;
  background-color: #002b21;
}
.profile-usermenu ul li ul li {
 border-bottom: 1px solid #005e49;
  background-color: #eeeeee;
}
.profile-usermenu ul li ul li a {
  color: #002b21;
  font-size: 14px;
  font-weight: 400;
}
.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  font-size: 16px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #002b21;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #005e49;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  background: #eeeeee;
  /*margin-left: -2.5%;*/
  min-height: 909px;
}

hr{
  background-color: #002b21;
}